<!doctype html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>MovWeb</title>
    </head>
    <style media="screen">
        .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>
    <body>
        <form class="center" action="/movies" method="get">Search:<br>
          <input type="text" name="name"><br>
          <input type="submit" value="Submit">
        </form>
    </body>
</html>